body {
  padding: 1em 2em 1em 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.add-btn {
  background-color: rgb(235, 234, 185);
  border: 1px solid black;
  border-radius: 0.3em;
  color: black;
  padding: 0.15em 0.5em;
  cursor: pointer;
}

dialog {
  padding: 0;
  border: none;
}

form#add-book-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid black;
  padding: 1.5em 2em 2em 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form#add-book-form > h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

form#add-book-form > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}

form#add-book-form label {
  width: 55px;
}

form#add-book-form input[type="text"] {
  flex: 1;
  padding: 0.2em 0.3em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
}

form#add-book-form input#pages {
  flex: 0;
  width: 35px;
}

form#add-book-form input[type="checkbox"] {
  border: 1px solid #ccc;
}

form#add-book-form .form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  gap: 0.5em;
}

form#add-book-form .form-buttons button {
  background-color: rgb(235, 234, 185);
  border: 1px solid black;
  border-radius: 0.3em;
  color: black;
  padding: 0.15em 0.5em;
  cursor: pointer;
}

.shelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  margin-top: 1em;
}

.book-item {
  border: 1px solid #ccc;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.book-item h2 {
  font-size: 1.6em;
  margin-bottom: 0.2em;
  height: 60px;
}

p.author {
  font-size: 1.1em;
  margin-bottom: 0.1em;
}

p.read {
  margin-bottom: 1em;
}

p.read .mark-read-btn {
  border: 1px solid black;
  border-radius: 0.3em;
  color: black;
  padding: 0.15em 0.5em;
  cursor: pointer;
}

.mark-read-btn.read-yes {
  background-color: rgba(42, 228, 42, 0.55);
  border-radius: 1em;
  color: white;
}

.mark-read-btn.read-no {
  background-color: rgb(228, 42, 42, 0.55);
  border-radius: 1em;
  color: white;
}

.remove-btn {
  background-color: rgb(228, 42, 42);
  border-radius: 1em;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-top: auto;
}
